<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>testweb</display-name>
	<servlet>
		<servlet-name>ShowSummaryServlet</servlet-name>
		<display-name>ShowSummaryServlet</display-name>
		<description></description>
		<servlet-class>testweb.ShowSummaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowSummaryServlet</servlet-name>
		<url-pattern>/ShowSummary</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>testweb.MyContextListener</listener-class>
	</listener>
</web-app>
